@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Permanent+Marker|Coustard');

body, html {
    height: 100%;
    margin: 0;
}

ul {
    list-style-type: none;
    display: block;
    text-align: center;
    padding-top: 50px;
}

li {
    display: inline;
    padding: 30px;
}

a {
    color: white;
    text-decoration: none;
    font-family: 'Gloria Hallelujah', cursive;
}
h1{
	margin-top:3px;
}


.title {
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 100px;
}
.title1 {
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 100px;
	margin-top: 120px;
}
.subtitle {
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
}

.parallax {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.title-box {
    padding-top: 50px;
    text-align: center;
}
 
.box p {
	font-family: Century Gothic;
	font-size: 16px;
	color: white;
	font-weight: bold;
	
}
